.text_input{
    background-color: #1E1E1E;
    border: 1px solid white;
    padding: 16px 24px;
    border-radius: 36px;
    text-align: center;
    font-size: 20px;
    margin-top: 8px;
    width: 350px;
    color: white;
    font-weight: 400;
}

.text_input::placeholder{
    color: rgba(255, 255, 255, 0.655);
    font-weight: 200;
}